
*.aux

*.bbl

*.blg

*.log

*.out

*.gz

*.toc

Ullrich-StatementOfCommitment.docx

Ullrich-NASAIndicators-ProjectDescription.pdf

blob_plot-eps-converted-to.pdf

BlobFig/blob_plot.pdf

BlobFig/blob_plot.eps
